<!-- Footer -->
        <div class="bagikan reset-box-sizing" style="background:#f7f7f7;">
            <div class="container container-wrapper">
                <div class="mt-2 hidden-xxs"></div>
                <div class="col-md-6 col-sm-7 col-xs-7 col-xxs-12">
                    <h5 class="bagikan-title m-light text-white hidden-xs hidden-xxs">Bagikan jika Anda menyukai halaman ini.</h5>
                </div>
                <div class="col-md-6 col-sm-5 col-xs-5 col-xxs-12" style="margin-top:-11px;">
                    <div class="share-btn">
                        <span class="share-btn-cols">
                        <a href="#" ><span class="fab fa-facebook-f"></span></a>
                        <span class="share-total-count">80k</span>
                        </span>
                        <span class="share-btn-cols">
                        <a href="#" ><span class="fab fa-twitter"></span></a>
                        <span class="share-total-count">450</span>
                        </span>
                        <span class="share-btn-cols">
                        <a href="#" ><span class="fab fa-google"></span></a>
                        <span class="share-total-count">1900</span>
                        </span>
                    </div>
                </div>
                <div class="mt-1"></div>
            </div>
        </div>
        <div class="bantuan reset-box-sizing">
           
            <div class="container container-wrapper">
                <div class="col-md-9 col-sm-12 padding_0 col-xs-12 col-xxs-12">
                    <div class="mt-1"></div>
                    <h2 class="no-transform padding_0 center-block no-float text-white hidden-sm hidden-xs hidden-xxs">
                        <span class="m-light text-white">Perlu</span> <span class="m-bold text-white">BANTUAN?</span>
                        <span class="m-light text-white">Hubungi Kami: </span>
                        <span class="m-bold text-white"><a href="#" title="0274-2920443">0274 - 2920443</a></span>
                    </h2>
                    <div class="mt-2"></div>
                </div>
                <div class="col-md-3 col-sm-4 col-xs-4 left-border-ss col-xxs-12 center-text hidden-md hidden-sm hidden-xs hidden-xxs" style="padding-top:10px !important;">
                    <div class="r-bold" style="float: right;">
                        <div class="button-depth-container">
                            <a href="#" onclick="#" class="button-live-chat button-live-chat-2 button-live-chat-icon bg-blue text-white pull-right button-icon-chat livechatlink">
                                <span class="inner-live-chat-btn"> <i class="fa fa-comments-alt pull-left" style="margin-right: 20px; font-size: 30px;"></i> Live Chat </span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="clearfix mt-3 hidden-md"></div>
            </div>
        </div>
        <div class="footer">
            <div class="footer_center">
                <div class="container center-text hidden-md hidden1024 hidden768">
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 info-callme">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <p class="font-footer title">HUBUNGI KAMI</p>
                            <div class="font-footer-content">
                                <div class="row">
                                    <div class="mt-1 hidden-xs hidden-xxs"></div>
                                    <div class="mt-2 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                                    <div class="col-md-8 col-xs-12">
                                        <p class="font-footer-content text">
                                            <a class="" href="#">0274-2920443</a>
                                            <br> Senin - Minggu 
                                            <br> 24 Jam Non Stop
                                        </p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="mt-1 hidden-xs hidden-xxs"></div>
                                    <div class="mt-2 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                                    <div class="col-md-10 col-xs-12">
                                        <p class="font-footer-content text">Jl. Selokan Mataram Monjali
                                            <br>Karangjati MT I/304
                                            <br>RT 019 RW 042
                                            <br>Sinduadi, Mlati, Sleman
                                            <br>Daerah Istimewa Yogyakarta
                                            <br>55284
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-menu">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">LAYANAN</p>
                            <div class="mt-1"></div>
                            <ul class="list no-arrow font-footer-content text">
                                <li>
                                    <a href="#">Domain</a>
                                </li>
                                <li>
                                    <a href="#">Shared Hosting</a>
                                </li>
                                <li>
                                    <a href="#">Cloud VPS Hosting</a>
                                </li>
                                <li>
                                    <a href="#">Transfer Hosting</a>
                                </li>
                                <li>
                                    <a href="#">Web Builder</a>
                                </li>
                                <li>
                                    <a href="#">Keamanan SSL / HTTPS</a>
                                </li>
                                <li>
                                    <a href="#">Jasa Pembuatan Website</a>
                                </li>
                                <li>
                                    <a href="#">Program Afiliasi</a>
                                </li>
                                <li>
                                    <a href="#">Whois</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-menu">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">SERVICE HOSTING</p>
                            <div class="mt-1"></div>
                            <ul class="list no-arrow font-footer-content text">
                                <li>
                                    <a href="#">Hosting Murah</a>
                                </li>
                                <li>
                                    <a href="#">Hosting Indonesia</a>
                                </li>
                                <li>
                                    <a href="#">Hosting Singapore SG</a>
                                </li>
                                <li>
                                    <a href="#">Hosting Wordpress</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-tutorial">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">TUTORIAL</p>
                            <div class="mt-1"></div>
                            <ul class="list no-arrow font-footer-content text">
                                <li>
                                    <a href="#">Knowledgebase</a>
                                </li>
                                <li>
                                    <a href="#">Blog</a>
                                </li>
                                <li>
                                    <a href="#">Cara Pembayaran</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 info-callme">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">TENTANG KAMI</p>
                            <div class="mt-1"></div>
                            <ul class="list no-arrow font-footer-content text">
                                <li>
                                    <a href="#">Penawaran &amp; Promo Spesial</a>
                                </li>
                                <li>
                                    <a href="#">Karir</a>
                                </li>
                                <li>
                                    <a href="#">Kontak Kami</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-menu">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">KENAPA PILIH NIAGAHOSTER?</p>
                            <div class="mt-1"></div>
                            <ul class="list no-arrow font-footer-content text">
                                <li>
                                    <a href="#">Domain Gratis Selamanya</a>
                                </li>
                                <li>
                                    <a href="#">Datacenter Hosting Terbaik</a>
                                </li>
                                <li>
                                    <a href="#">Review Pelanggan</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-menu">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">NEWSLETTER</p>
                            <div class="mt-1"></div>
                            <form method="get" action="" id="newsletter_submit" class="pull-left" style="font-family: sans-serif;">
                                <div class="input-group">
                                    <input class="form-control email_newsletter" name="email" id="samplees" value="" placeholder="Email" type="text">
                                    <span class="input-group-btn">
                                    <button class="btn btn-subscribe btn-info btn2" type="submit">Berlangganan</button>
                                    </span>
                                </div>
                            </form>
                            <p class="mt-1 r-light note">Dapatkan promo dan konten menarik dari penyedia 
                                <a href="#" class="font-inherit">hosting terbaik</a> Anda.
                            </p>
                        </div>
                        <div class="col-md-3 col-sm-6 col-xs-6 col-xxs-12 footer-tutorial">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <div class="row social-icon">
                                <div class="col-lg-3 col-md-3 col-xxs-3 text-center">
                                    <a href="#" target="_blank">
                                    <i class="fab fa-facebook-f social-circle-fb"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xxs-3 text-center">
                                    <a href="#" target="_blank">
                                    <i class="fab fa-twitter social-circle-tw"></i>
                                    </a>
                                </div>
                                <div class="col-lg-3 col-md-3 col-xxs-3 text-center">
                                    <a href="#" target="_blank">
                                    <i class="fab fa-google-plus-g social-circle-tw"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12 col-xxs-12 hidden-xss">
                            <div class="mt-3 hidden-xs hidden-xxs"></div>
                            <div class="mt-5 hidden-lg hidden-md hidden-sm show-xs show-xxs"></div>
                            <p class="font-footer title">PEMBAYARAN</p>
                            <ul class="logo-bank">
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/logo-bni-bordered.svg" alt="bank bni" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/logo-bca-bordered.svg" alt="bank bca" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/mandiriclickpay.svg" alt="mandiri clickpay" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/permatabank.svg" alt="bank permata" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/atmbersama.svg" alt="atm bersama" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/prima.svg" alt="prima" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/alto.svg" alt="alto" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/visa.svg" alt="visa" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/mastercard.svg" alt="master card" class="bank-logo">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="https://www.niagahoster.co.id/assets/images/new_design/indomaret.svg" alt="indomaret" class="bank-logo">
                                    </a>
                                </li>
                            </ul>
                            <p class="mt-2 note">Aktivasi instan dengan e-Payment. Hosting dan 
                                <a href="#" class="font-inherit">domain</a> langsung aktif!
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright_info">
            <div class="container">
                <div class="col-md-12">
                    <hr class="super-soft">
                </div>
                <div class="col-md-8">
                    Copyright ©2017 Niagahoster | Hosting powered by PHP7, CloudLinux, CloudFlare, BitNinja and
                    <a href="#" class="font-inherit">
                    DC Biznet Technovillage Jakarta
                    </a>
                    Cloud
                    <a href="#" class="font-inherit">
                    VPS Murah
                    </a> 
                    powered by Webuzo Softaculous, Intel SSD and cloud computing technology
                </div>
                <div class="col-md-4 col-xs-12 font-white center-text">
                    <span class="float-right">
                    <a href="#">Syarat dan Ketentuan</a> 
                    | 
                    <a href="#">Kebijakan Privasi</a>
                    </span> 
                </div>
            </div>
            <a href="#" class="scrollup" style="display: block;">&nbsp;</a>
        </div>
    </body>
</html>
