<!DOCTYPE html>
<html>
    <head>
        <title>Niagahoster.co.id</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
        <link rel="stylesheet" type="text/css" href="assets/css/style.css">
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
        <link rel="shortcut icon" href="assets/images/favicon.ico">
    </head>
    <body>
        <!-- Heading -->
        <div class="full">
            <div class="top_nav">
                <div class="container">
                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm" style="padding-left:0px;">
                        <div class="ebook-atas hidden-xxs">
                            <img src="assets/images/ribbon.png">
                            <p class="promo-atas-1">
                                <a href="#">Gratis Ebook 9 Cara Cerdas Menggunakan Domain [ x ]</a> 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 hidden-sm" style="padding-right:0px">
                        <div class="telpon nav-menu-icon aw hidden-xxs hidden-xss">
                            <ul class="aw fa-ul">
                                <li> 
                                    <a href="#" class="text-white promo-atas-1">
                                    <i class="fas fa-phone-alt" style="font-size: 16px;"></i> 
                                    0274-2920443
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#" class="promo-atas-1" style="display: block;">
                                    <i class="fas fa-comments-alt" style="font-size: 16px;"></i> 
                                    Live Chat
                                    </a> 
                                </li>
                                <li> 
                                    <a href="#" class="text-white promo-atas-1">
                                    <i class="fas fa-user-circle" style="font-size: 16px;"></i>
                                    Member Area 
                                    </a> 
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="full">
            <div class="top-section height-auto">
                <div class="container">
                    <div id="logo" class="">
                        <a href="#" class="site_logo"> <img src="assets/images/logo.png" class="logo"> </a>
                    </div>
                    <nav class="navigation-container clearfix menuiu hidden-md hidden-sm hidden-xs hidden-xxs" role="navigation" style="float:right">
                        <div class="navigation-wrapper">
                            <ul id="main-tiny-menu" class="show-fitur main-navigation float-left clearfix">
                                <li> <a href="#" class="">Hosting</a> </li>
                                <li> <a href="#" >Domain</a> </li>
                                <li> <a href="#" class="">Server</a></li>
                                <li> <a href="#" class="">Website</a> </li>
                                <li> <a href="#" class="">Afiliasi</a> </li>
                                <li> <a href="#" class="">Promo</a> </li>
                                <li> <a href="#" class="">Pembayaran</a> </li>
                                <li> <a href="#" class="">Review</a> </li>
                                <li> <a href="#" class="">Kontak</a> </li>
                                <li> <a href="#" >Blog</a> </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>